@CHARSET "UTF-8";

.books{
	border-bottom: 1px solid #E5E5E5;
	margin: 10px 0 15px;
	min-height: 24px;
	padding: 10px 0 12px;
	margin:10px 0px 0px 14px;
	position: relative;
	text-shadow: 0 1px 1px rgba(255,255,255,0.9);
	font-size:25px;

}



.footprint{
	overflow:hidden;
	margin:0 auto;
	text-align:center;
	width:95%;
}
/*
.item{
	background-color:white;
	overflow:hidden;
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
	padding-bottom:10px;
	float:left;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.75);
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}*/

.item{
	border:1px solid #bbb;
	float:left;
	display:inline;
	padding:12px;
	margin:10px 0px 0px 14px;
	position:relative;
	background-color:#fff;
	border-radius:10px 10px 10px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	
}	

.cover{
 text-align:center;
}

.coverImg{
	max-width:200px;
	text-align:center;

}

.coverImg:hover{
	max-width:210px;
	text-align:center;

}



div#footer{
       clear:both;
}

.bookName{
	text-align:center;
	font-size:22px;
}

.info{
	width:200px;
	margin-bottom:10px;
	text-align:left;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:15px;
	
}
.info:strong{
	font-size:20px;
}

.item:hover{
	border:1px solid #bbb;
	float:left;
	display:inline;
	padding:12px;
	margin:10px 0px 0px 14px;
	position:relative;
	background-color:#f1f0ef;
	border-radius:10px 10px 10px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	position:absolute;
	z-index:9999;	
}	