/*
 * book-style.html
 * version 1.0 (Dec, 24th. 2012)
 * created by chenzhao for web2.0 project
 */

article{
	width: 960px;
	margin: 0 auto;
	padding: 20px;
}

/*tags style*/
#tags{
	width: 260px;
	float: right;
}

.tag{
	margin-left: 10px;
	float: left;
	color: #072;
	padding: 5px;
}

.tag img{
	vertical-align: middle;
}

/*display style*/
#display{
	width: 700px;
}

/*book*/
#book img{
	float: left;
}

#book div{
	width: 480px;
	float: right;
	margin: 10px;
}

#book div p{
	padding: 10px;
}

.ltag{
	color: gray;
	padding: 20px;
}

#book fieldset{
	clear: both;
	border: 0;
}

#shortdes{
	text-indent: 2em;
}

/*comment*/
.comment{
	margin-top: 20px;
	overflow: hidden;
}

.comment .img{
	float: left;
	width: 60px;
}

.comment .detail{
	float: right;
	width: 640px;
}

.name{
	margin: 0;
	border: 0;
	font-size: 120%;
	color: #37A;
	padding: 10px;
}

.des{
	margin: 0;
	font-size: 80%;
	color: #37A;
	padding-left: 10px;
}

.content{
	padding: 10px;
}

.time{
	font-size: 75%;
	font-style: italic;
	color: gray;
	text-align: right;
	border-bottom: 1px;
	border-bottom-color: gray;
	border-bottom-style: dotted;
	padding: 5px;
}

#comments fieldset{
	padding: 10px;
	border-style: dotted;
}

#comments legend{
	color: #614E3C;
	font-weight: bold;
	padding: 10px;
}

#book fieldset ul{
	text-align: right;
}

#book fieldset button{
	width: 80px;
	height: 25px;
	border: 1px solid rgba(45, 45, 45, 0.5);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #444444;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#book fieldset button:hover{
	border: 2px solid rgba(0, 12, 45, 0.5);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #444444;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

input[type=submit]{
	width: 50px;
	height: 25px;
	border: 1px solid rgba(45, 45, 45, 0.5);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #444444;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

input[type=submit]:hover{
	border: 2px solid rgba(0, 12, 45, 0.5);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #444444;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}