@CHARSET'utf-8';

*{
	margin: 0 0;
	padding: 0 0;
}

h3{
	color: #5c7070;
	text-align: center;
	font-family: '微软雅黑', sans-serif;
	margin: 20px auto;
}

div#faces{
	width: 360px;
	margin: 0 auto;
}

div.items img{
	margin: 0 auto;
	padding: 1px;
	cursor: pointer;
}

div.items img:hover{
	margin: 0 auto;
	padding: 1px;
	cursor: pointer;
	border: 2px solid #B22222;
}