@CHARSET "UTF-8";

#main{
	width: 91%;
	margin: 0 auto;
	margin-top: 80px;
}

#left_content{
	float: left;
	width: 240px;
	clear: right;
}

#left_content .info{
	padding: 20px;
	background-color:#fff;
	margin-bottom: 20px;
	border:1px solid #bbb;
	border-radius:10px 10px 10px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#left_content .info h5{
    display: inline-block;
	float: right;
	color: #5c7070;
	font-size: 8pt;
	padding: 3px;
	border:1px solid #bbb;
	background-color:#fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

div#left_content button{
	width: 70px;
	height: 28px;
	border: 1px solid rgba(45, 45, 45, 0.5);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #444444;
    display: inline-block;
	float: left;
    font-weight: 300;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

div#left_content button:hover{
	border: 2px solid rgba(0, 12, 45, 0.5);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #444444;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	float: left;
}

#left_content .info img{
	height: 150px;
	width: 150px;
	margin-left: 25px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#left_content h1{
	color: #646d80;
	font-size: 15pt;
	width: 120px;
	float: left;
}

.info p{
	color: #479894;
}

#left_content hr{
	color: #93e6d3;
}

.Friend_Group{
	padding: 20px;
	padding-right: 0px;
	background-color:#fff;
	margin-bottom: 20px;
	border:1px solid #bbb;
	border-radius:10px 10px 10px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.Friend_Group .each{
	float: left;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 22px;
}

.Friend_Group .each img{
	width: 50px;
	height: 50px;
	margin-bottom: 2px;
}

.Friend_Group .each p{
	font-size: 9pt;
	color: #917373;
	width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#main #right_content{
	float: left;
	margin-left: 20px;
	width: 960px;
}

#right_content h1{
	float: left;
	color: #5c7070;
	margin-bottom: 10px;
	font-size: 20pt;
}

#right_content a h5{
	float: right;
	color: #5c7070;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 15pt;
	padding: 5px;
	border:1px solid #bbb;
	background-color:#fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#right_content hr{
	color: #93e6d3;
}

#right_content .us_bar{
	border-bottom: 1px solid #E5E5E5;
	position: relative;
	text-shadow: 0 1px rgba(255,255,255,0.9);
}

#right_content .footprint{
	height: 590px; 
	float: left; 
	width: 960px;
	margin-top: 26px;
	margin-bottom: 50px;
}

.footprint .item{
	border:1px solid #bbb;
	width: 900px;
	float:left;
	display:inline;
	padding:12px;
	margin:10px 0px 0px 14px;
	position:relative;
	background-color:#fff;
	border-radius:10px 10px 10px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.footprint .item .left-item{
	float:left;
	width: 200px;
	padding: 12px;
	border-right:1px solid #bbb;
	border-bottom:1px solid #bbb;
	border-radius:10px 10px 10px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.footprint .item .right-item{
	float: right;
	width: 630px;
}
	
.footprint .item img{
	border: none;
	width: 200px;
	margin-bottom: 15px;
	margin-top: 8px;
}

.footprint .item  p{
	border: none;
	width: 200px;
	word-wrap: break-word;
	color: #479894;
	margin-bottom: 8px;
	margin-top: 8px;
}

.footprint .item .right-item p{
	width: 600px;
}

.footprint .item h2{
	color: #5c7070;
	margin-bottom: 8px;
}

.footprint .item h3{
	color: #b1ccd0;
	margin-top: 8px;
	margin-bottom: 8px;
}

.footprint .item textarea{
	width:95%;
	padding: 12px;
	border:1px solid #bbb;
	border-radius:10px 10px 10px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	font-size: 10pt;
	font-family:  "Microsoft YaHei" sans-serif;
}

.footprint input[type="submit"]{
	float: right;
	padding: 12px;
	border:1px solid #bbb;
	margin:10px 0px 0px 14px;
	border-radius:10px 10px 10px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	font-family:  "Microsoft YaHei" sans-serif;
}

.clear{
	clear: both;
}